@model mamSearchAndRetrieval.Models.AdvancedSearchViewModel
@{
    ViewBag.Title = "Advanced";
}

<h2>Advanced</h2>

@using (Html.BeginForm("Advanced", "Search"))
{
    <div class="form">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-lg-3">
                @Html.LabelFor(model => model.PRODUCTION_NUMBER, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("PRODUCTION_NUMBER", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.KEYWORD, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("KEYWORD", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.CONCEPT, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("CONCEPT", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.LOCATION, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("LOCATION", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.LEVEL, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("LEVEL", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.CLIP_TAPE_DESCRIPTION, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("CLIP_TAPE_DESCRIPTION", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.CATEGORY, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("CATEGORY", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.ROLL_NUMBER, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("ROLL_NUMBER", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.PRODUCTION_OWNER, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("PRODUCTION_OWNER", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.FILM_AVAILABLE, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("FILM_AVAILABLE", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.ORIGINAL_CAMERA_ELEMENT, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("ORIGINAL_CAMERA_ELEMENT", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.HD_AVAILABLE, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("HD_AVAILABLE", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.ORIGINAL_CAPTURE_METHOD, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("ORIGINAL_CAPTURE_METHOD", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.ROLL_NUMBER, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("CAMERA_SHOT", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.ROLL_NUMBER, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("CAMERA_SPEED", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.ROLL_NUMBER, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("CAMERA_ACTION", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.ROLL_NUMBER, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("CAMERA_LOCATION", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.ROLL_NUMBER, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("AIR_DATE", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.ROLL_NUMBER, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("ASPECT_RATIO", null, htmlAttributes: new { @class = "form-control"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.ROLL_NUMBER, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("IN_OUT_PROGRAM", null, htmlAttributes: new { @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-3">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
