@model mamSearchAndRetrieval.Models.ResultsViewModel

@foreach (var item in Model.resultsItems)
{
    string imgClass = "";
    
    if (item.cartSelected)
    {
        imgClass = "playlistSelected";
    }
    
    <div class="col-lg-4 text-center">
        <div class="grid-item center-block" style="height:100px; width: 178px">
 @{
    if (item.thumbnailUrl != "FILLER")
    {
        @Html.Raw(string.Format("<img src=\"{0}\" alt=\"Image\" data-dmguid=\"{1}\" data-epguid=\"{2}\" data-token=\"{3}\" class=\"{4}\" data-maintitle=\"{5}\"height=100% />", Url.Content(@item.thumbnailUrl), @item.dmGuid, @item.epGuid, @item.token, @imgClass, @item.mainTitle));
    }
    else
    {
        @Html.Raw(string.Format("<canvas data-dmguid=\"{0}\" data-epguid=\"{1}\" data-token=\"{2}\" class=\"{3}\" data-maintitle=\"{4}\" style=\"background: silver; height: 100%; width: 100%;\" />", @item.dmGuid, @item.epGuid, @item.token, @imgClass, @item.mainTitle));
    }
}
        </div>
        <div><small>@item.mainTitle</small></div>
    </div>
}
<div id="grid-metadata">
    <div id="startPage" style="display: none;">@Model.pager.startPage</div>
    <div id="firstHit" style="display: none;">@Model.pager.firstHit</div>
    <div id="hitsPerPage" style="display: none;">@Model.pager.hitsPerPage</div>
    <div id="maxHits" style="display: none;">@Model.pager.maxHits</div>
    <div id="totalRecords" style="display: none;">@Model.pager.totalRecords</div>
    <div id="pages" style="display: none;">@Model.pager.pages</div>
</div>
